/vendor/
/*.tgz
/dist/
/vendor/
.buildpath
.project
.settings
*.sublime-*
.phpintel
src/config.php
index.php
PhpWrapperProffix.phar.pubkey
PhpWrapperProffix.phar
.travis/secrets.tar
.travis/*.pem
box.json
box.phar
manifest.json
.cache
.phpunit.cache